@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@font-face {
    font-family:Android;
    src: url(../fontes/idroid.otf);
}
:root{
    --cor01:#6474df94;
    --cor02:#213ad9d5;
    --cor03:#192CA6;
    --cor04:#000D5C;
    --cor05:#0D1859;
    
    --fonte-padrao: Arial, sans-serif;
    --fonte-android: 'Android', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: var(--cor01);
}
body strong{
    font-weight: 900;
    color: var(--cor04);
}
header{
    background-color: var(--cor03);
    color: white;
    text-align: center;
}
header h1{
    padding-top: 35px;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    text-shadow: 7px 5px 7px rgba(0, 0, 0, 0.22);
}
header p{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 500px;
    font-size: 1.3em;
    font-family: var(--fonte-padrao);
}
nav{
    background-color: var(--cor03);
    padding-bottom: 5px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.09);
}
nav a{
    padding: 0 20px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    border-radius: 7px;
}
nav a:hover{
    background-color: var(--cor01);
    color:black;
}
main{
    background-color: white;
    margin: auto;
    max-width: 800px;
    padding: 30px 15px;
    margin-bottom: 60px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.103);
}
main h1{
    color: var(--cor05);
    text-align: center;
    font-size: 2.2em;
    font-family: var(--fonte-android);
    

}
main h2{
    background-image: linear-gradient(to right, var(--cor01), transparent);
    color: var(--cor05);
    text-indent: 20px;
    font-size: 1.9em;
    font-family: var(--fonte-android);
    max-width: 700px;
}
main p{
    padding: 10px 0px;
    font-size: 1.08em;
    text-align: justify;
    text-indent: 20px;
}
main a{
    background-color: var(--cor01);
    color: var(--cor05);
    text-decoration: none;
    font-weight: bolder;
}
main a::after{
    content: "🔗";
}
main a:hover{
    text-decoration: underline;
    background-color: var(--cor02);
    color: black;
}
article #bugdroid{
    display: block;
    margin: auto;
    width: 400px;

}
article picture > img{
    display: block;
    margin: auto;
    max-width: 900px;
    width: 80%;
}
#video{
    background-color: #0D1859;
    position: relative;
    padding-bottom: 50%;
    margin: auto;
    box-shadow: 0px 6px 12px #00000054;
}
#video iframe{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
aside{
    background-color: var(--cor01);
    margin: 30px 0px;
    box-shadow: 0px 6px 12px #00000054;
    border-radius: 20px;
}
aside h3{
    background-color: var(--cor03);
    color: white;
    padding: 8px;
    border-radius: 20px 20px 0px 0px;
    font-family: var(--fonte-padrao);
    font-size:1.3em;
    text-indent: 10px;
}
aside p{
    padding: 10px 7px;
    text-align: justify;
}
aside ul{
    padding: 0px 30px;
    columns: 2;
    list-style: "✔ ";
}
aside ul li abbr{
    text-decoration: none;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
}
footer .linkrodape{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer .linkrodape:hover{
    text-decoration: underline;
    color: var(--cor01);
}