@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@font-face {
    font-family:Android;
    src: url(../fontes/idroid.otf);
}
:root{
    --cor01:#6475DF;
    --cor02:#2139D9;
    --cor03:#192CA6;
    --cor04:#000D5C;
    --cor05:#0D1859;
    
    --fonte-padrao: Arial, sans-serif;
    --fonte-android: 'Android', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
}